.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logout-icon{
  display: flex;
flex-wrap: wrap;
/* for horizontal aligning of child divs */
justify-content: center;
/* for vertical aligning */
align-items: center;

}

.container-login{
  background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2F3%2Fd%2Fa%2F92243.jpg&f=1&nofb=1');
}

.gram{
  color:red;

}
/* .gram:hover{
  color:;
} */


.logout{
  font-size: 5vh;
  color: white;
  font-family: 'Jomhuria', cursive;
}

/* #liftagram{
  font-family: 'Lobster', cursive;
  font-size: 8vh;
} */
.liftagram{
 color: rgb(17, 110, 216);
 font-weight: bold;
 font-family: 'Lobster', cursive;
  font-size: 8vh;
}
a{
  color: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2F3%2Fd%2Fa%2F92243.jpg&f=1&nofb=1');
}
a:hover {
 color:white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapertag.com%2Fwallpaper%2Ffull%2F1%2Fa%2Fe%2F438271-black-steel-background-1920x1200-full-hd.jpg&f=1&nofb=1');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.profile-name{
  background-color: white;
}

.profile-feed{
  background-color: black;
}

/* .header-fixed{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
} */